# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**
1. Python
2. SQL
3. R
4. Java

**Some of the commonly used libraries used by Data Scientists include:**
1. Pandas
2. Keras
3. NumPy
4. TensorFlow

|Data Science Tools|
|---|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:** 

* Add comments to code cells
* Create markdown cells
* Add ordered and unordered list to markdown cells
* Format conten markdown with heading styles

## Author
name : Anna Kl